<%- include('header_salaib', { title: 'Kết quả tất toán tài khoản tiền gửi có kỳ hạn Online'}); -%>
<div class="breadcrumb_sala">
    <a>Trang chủ</a>
    <span class="split"> / </span>
    <a>Tiền gửi</a>
    <span class="split"> / </span>
    <a>Tiền gửi có kỳ hạn</a>
    <span class="split last"> / </span>
    <a>Kết quả tất toán tài khoản</a>
</div>
<div class="main_con">
    <ul class="main_con_ul">
        <li class="main_con_item">
            <ul>
                <li class="">
                    <h1 class="title">TẤT TOÁN TÀI KHOẢN TIỀN GỬI CÓ KỲ HẠN</h1>
                    <div class="con">
                        <form method="POST" class="form-light">
                            <div class="table-responsive rounded-top">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-left" style="padding-left: .5rem;">
                                                KẾT QUẢ TẤT TOÁN TÀI KHOẢN
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (error) { %>
                                        <tr>
                                            <td class="text-center" style="color: red;">
                                                <%= error %>
                                            </td>
                                        </tr>
                                        <% } else { %>
                                        <tr>
                                            <td class="text-center">
                                                Tất toán tài khoản tiền gửi có kỳ hạn thành công.<br>
                                                Quý khách vui lòng kiểm tra lại tài khoản tiền gửi thanh toán!
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-sl-btn-form" style="background-color: white; padding-top: 1rem;">
                                <a type="button" class="btn btn-primary btn-danger" id="newTrans" name="newTrans"
                                    href="Request?operationName=tien_gui_co_ky_han&operationNameChild=mo_tai_khoan"
                                    style="padding: .2rem 2rem .2rem 2rem;">Mở tài khoản mới</a>
                            </div>
                            <div class="text-center" style="font-size: 13px; padding: 5px 5px">
                                Cảm ơn Quý khách đã tin tưởng và sử dụng sản phẩm, dịch vụ của SLB.
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
<%- include('footer_salaib'); -%>